<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <p><%= book.title %></p>
    <p><%= book.body %></p>
  <% end %>
</div>
<% end %>





<%= form_with model:@book, local:true do |f| %>

  <div class="field">
    <div><%= f.label :title, 'Title' %></div>
    <div><%= f.text_field :title %></div>
  </div>
  

 <div class="field">
   <div><%= f.label :title, 'Opinion' %></div>
   <div><%= f.text_area :body %></div>
 </div>
 
 
 <div class="action">
   <%= f.submit 'Create Book' %>
 </div>
 
 <% end %>

