<%= form_with model:@book, local:true do |f| %>

  <div class="field">
    <div><%= f.label :title, 'Title' %></div>
    <div><%= f.text_field :title %></div>
  </div>
  

 <div class="field">
   <div><%= f.label :title, 'Opinion' %></div>
   <div><%= f.text_area :body %></div>
 </div>
 
 
 <div class="action">
   <%= f.submit 'Create Book' %>
 </div>
 
 <% end %>
 

