<div class="book-body">
  <h2>Book detail</h2>
  <p><%= @book.user.name %></p>
  <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
   <% if @book.user == current_user %>
    <%= link_to "delete", book_path(@book), method: :delete %>
  <% end %>
</div>


